<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd"
       default-autowire="byName">

    <!-- Service -->
    <bean id="faultSpaceService" class="com.jzwy.zkx.product.biz.service.repair.impl.FaultSpaceServiceImpl"/>


    <!-- Manager -->
    <bean id="faultSpaceManager" class="com.jzwy.zkx.product.biz.manager.repair.impl.FaultSpaceManagerImpl">
        <constructor-arg index="0" ref="faultSpaceDao"/>
    </bean>

    <!-- Common -->
    <context:component-scan base-package="com.jzwy.**.biz.*"/>

    <import resource="spring-dao.xml"/>

</beans>