<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
       default-autowire="byName">

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource">
            <ref bean="dataSource"></ref>
        </property>
        <property name="mapperLocations" value="classpath*:/sqlmap/**/*.xml">
        </property>
    </bean>

    <bean id="faultSpaceDao" class="com.jzwy.zkx.product.biz.dao.repair.impl.FaultSpaceDaoImpl"/>
    <bean id="faultCategoryDao" class="com.jzwy.zkx.product.biz.dao.repair.impl.FaultCategoryDaoImpl"/>
</beans>