<?xml version="1.0" encoding="GB2312"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="log_root" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="${user.home}/logs/zkx/_zkx.log"/>
        <param name="append" value="true"/>
        <param name="encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p %l - %m%n"/>
        </layout>
    </appender>

    <appender name="log_service" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="${user.home}/logs/zkx/zkx_service.log"/>
        <param name="append" value="true"/>
        <param name="encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p %l - %m%n"/>
        </layout>
    </appender>

    <appender name="log_api" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="${user.home}/logs/zkx/wms_api.log"/>
        <param name="append" value="true"/>
        <param name="encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p %l - %m%n"/>
        </layout>
    </appender>

    <appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
        <param name="encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p  %d{MM-dd HH:mm}  %-36c %5L  %m%n"/>
        </layout>
    </appender>

    <appender name="zkx_auth_log" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="${user.home}/logs/zkx/zkx_auth.log"/>
        <param name="append" value="true"/>
        <param name="encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p %l - %m%n"/>
        </layout>
    </appender>

    <logger name="com.baj.wms.web.common" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="biz_mongodb_log"/>
    </logger>

    <logger name="com.baj.wms.web.action" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="biz_mongodb_log"/>
        <appender-ref ref="log_web"/>
    </logger>

    <logger name="com.baj.wms.biz.ao" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="biz_mongodb_log"/>
        <appender-ref ref="log_ao"/>
    </logger>

    <logger name="com.baj.wms.biz.common" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="biz_mongodb_log"/>
    </logger>

    <logger name="com.baj.wms.biz.factory" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="biz_mongodb_log"/>
    </logger>

    <logger name="com.baj.wms.api" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="biz_mongodb_log"/>
        <appender-ref ref="log_api"/>
    </logger>

    <logger name="com.baj.auth" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="biz_mongodb_log"/>
        <appender-ref ref="wms_auth_log"/>
    </logger>

    <root>
        <level value="INFO"/>
        <appender-ref ref="log_root"/>
    </root>
</log4j:configuration>